@import "flightInfo";

.checkin {
	p[class^="MuiFormHelperText-root"] {
		color: #bbb;
	}

	div[class*="MuiInput-underline"]:hover:before {
		background-color: #9ed1f9 !important;
	}

	&-stepper[class*="MuiStepper-root"] {
		padding: 24px 0;
	}

	&-stepper {
		&__step {
			svg text {
				fill: #fff;
			}
		}
	}

	&-title {
		margin-bottom: 15px !important;
	}

	&-orderSearching {
		display: flex;

		&-form, &-conditions {
			flex: 1;
			padding: 20px;
			background: #fff;
		}

		&-conditions {
			margin-right: 20px;
		}

		&__row {
			display: flex;

			&:not(:last-of-type) {
				margin-bottom: 25px;
			}
		}

		&__input {
			flex: 1;

			&:not(:last-of-type) {
				margin-right: 30px;
			}
		}
	}

	&-passengersChoosing {
		display: flex;

		.checkin-flightInfo {
			flex-basis: 350px;
		}

		&-form {
			padding: 20px;
			margin-right: 20px;

			flex: 1;
			background: #fff;
		}
	}

	&-seatsSelection {
		display: flex;

		.checkin-flightInfo {
			flex-basis: 350px;
		}

		&-form {
			padding: 20px;
			margin-right: 20px;

			flex: 1;
			background: #fff;
		}
		
		&-passenger {
			position: relative;
			background: #f7f7f7;

			&:first-of-type {
				&:before {
					opacity: 0;
				}
			}

			&__seat {
				display: flex;
				justify-content: center;
				align-items: center;

				position: absolute;
				width: 100%;
				color: #a0a0a0;
			}

			&-info {
				padding: 0;
				margin: 0;

				&-item {
					margin-bottom: 7px;
					list-style-type: none;

					&__title {
						color: #a0a0a0;
						font-size: 15px;
						margin-bottom: 2px;
					}
				}
			}
		}
	}

	&-bottomButtons {
		text-align: right;
		margin-top: 30px;

		&_passengersChoosing {
			margin-top: 18px;
		}

		&__back {
			margin-right: 15px;
		}
	}
}
