@import "flightInfo";

.checkin {
	p[class^="MuiFormHelperText-root"] {
		color: #bbb;
	}

	div[class*="MuiInput-underline"]:hover:before {
		background-color: #9ed1f9 !important;
	}

	&-stepper[class*="MuiStepper-root"] {
		padding: 24px 0;
	}

	&-stepper {
		&__step {
			svg text {
				fill: #fff;
			}
		}
	}

	&-title {
		margin-bottom: 15px !important;
	}

	&-orderSearching {
		display: flex;

		&-form, &-conditions {
			flex: 1;
			padding: 20px;
			background: #fff;
		}

		&-conditions {
			margin-right: 20px;
		}

		&__row {
			display: flex;

			&:not(:last-of-type) {
				margin-bottom: 25px;
			}
		}

		&__input {
			flex: 1;

			&:not(:last-of-type) {
				margin-right: 30px;
			}
		}
	}

	&-passengersChoosing {
		display: flex;

		.checkin-flightInfo {
			flex-basis: 350px;
		}

		&-form {
			padding: 20px;
			margin-right: 20px;

			flex: 1;
			background: #fff;
		}
	}

	&-seatsSelection {
		display: flex;

		.checkin-flightInfo {
			flex-basis: 350px;
		}

		&-form {
			padding: 20px;
			margin-right: 20px;

			flex: 1;
			background: #fff;
		}
		
		&-passenger {
			position: relative;
			background: #f7f7f7;

			&:first-of-type {
				&:before {
					opacity: 0;
				}
			}

			&__seat {
				display: flex;
				justify-content: center;
				align-items: center;

				position: absolute;
				color: #a0a0a0;
				left: 383px;
			}

			&__inner {
				display: flex;
			}

			&-info {
				flex-basis: 360px;
				padding: 0;
				margin: 0;

				&-item {
					margin-bottom: 7px;
					list-style-type: none;

					&__title {
						color: #a0a0a0;
						font-size: 15px;
						margin-bottom: 2px;
					}
				}
			}

			&-seatsMap {
				flex: 1;

				&__wrapper {
					margin-top: 30px;
					max-height: 400px;
					overflow-y: auto;

					display: flex;
					justify-content: center;
				}

				&__hints {
					display: flex;
					align-items: center;
					justify-content: space-between;
				}

				&-hint {
					display: flex;
					align-items: center;

					&__seat {
						width: 20px;
						height: 20px;
						border-radius: 4px;

						&_free {
							background: #81c3f8;
						}

						&_selected {
							background: #88c43d;
						}

						&_paid {
							background: #ffd321;
						}

						&_occupied {
							background: #a0a0a0;
						}
					}

					&__label {
						margin-left: 10px;
					}
				}

				&-map {
					border-collapse: collapse;
					border-spacing: 0;
					border-left: 1px solid #ddd;
					border-right: 1px solid #ddd;

					th, td {
						width: 20px;
						height: 20px;

						padding: 0 0 5px 0;
						margin: 0;

						&:not(:first-of-type) {
							padding: 0 0 5px 5px;
						}

						&:first-of-type {
							padding-left: 10px;
						}

						&:last-of-type {
							padding-right: 10px;
						}
					}

					th {
						padding-top: 10px !important;
						text-align: center;
						vertical-align: middle;
					}

					&__row {
						margin: 0;
						padding: 0;
						border: 0;
						outline: 0;
						vertical-align: baseline;
					}

					&__cell {
						&_rowNumber {
							vertical-align: top;
							text-align: center;

							p {
								font-size: 13px;
								color: #a0a0a0;
							}
						}
					}

					&-seat {
						width: 20px;
						height: 20px;
						border-radius: 4px;
						cursor: pointer;

						&_free {
							background: #81c3f8;
						}

						&_selected {
							background: #88c43d;
						}

						&_paid {
							background: #ffd321;
						}

						&_occupied {
							background: #a0a0a0;
						}
					}
				}
			}
		}
	}

	&-bottomButtons {
		text-align: right;
		margin-top: 30px;

		&_passengersChoosing {
			margin-top: 18px;
		}

		&__back {
			margin-right: 15px;
		}
	}
}
